.todo {
  padding: 8px;
  border: 1px solid red;
  width: 300px;
  min-height: 280px;
  margin-top: 1em;
}

.inputWrapper {
  display: flex;
  align-items: center;

}

.inputWrapper input {
  width: 100%;
}

.itemlist {

}

.item {
  display: flex;
  width: 100%;
}

.item p {
  width: 100%;
}